* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    border: border-box;
}

body {
    background-color: #F7EEDD;
}

#heading {
    background-color: #143d69;
    color: #f4b41a;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.count {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 5rem;
}

.scores {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 40px;
}

.options {
    height: 180px;
    width: 180px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#rock {
    background-color: #FFB38E;
}

#paper {
    background-color: #FF8E8F ;
}

#scissor {
    background-color: #E178C5;
    transform: rotate(90deg);
}

.result {
    border: 2px solid black;
    height: 100px;
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: 15px;
    background-color: #070F2B;
    color: aliceblue;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.options:hover {
    border: 10px solid black;
}

.fa-hand-back-fist, .fa-hand, .fa-hand-scissors {
    font-size: 125px;
}

